.c-themeRec {
  &__toolBar {
    position: absolute;
    top: 0;
    width: 62px;
    left: -80px;
    bottom: unset;
    border: 1px solid #c7c7c7;
    background-color: #f2f2f2;
    border-radius: 8px;
    overflow: hidden;
    &List {
      word-break: break-all;
      span {
        display: block;
        min-width: 40px;
        min-height: 48px;
        padding: 4px 12px;
      }
      li {
        text-align: center;
        &:first-child {
          border-radius: 8px 8px 0 0;
          overflow: hidden;
        }
        &:last-child {
          border-radius: 0 0 8px 8px;
          overflow: hidden;
        }
      }
      li + li {
        border-top: 1px solid #e5e5e5;
      }
    }
    &Btn {
      min-width: 100%;
      min-height: 48px;
      border: 0;
      padding: 4px 8px;
      cursor: pointer;
      font-weight: 400;
      font-size: 16px;
      transition: all 0.5s;
      background-color: #f2f2f2;
      &:hover,
      &.is_active {
        background-color: #0090eb;
        color: #ffffff;
      }
      &.is-active {
        background-color: #0090eb;
        color: #ffffff;
      }
    }
  }
}
